.home-section {
    background-image: url('/assest/images/DCollectBack.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
  }
nav{
    background-color: black;
}
  .LogoDataCollect {
    width: 20%;
  }
  .titelform{
    color:#145897;
  }
  fieldset{
  
    border: 1px solid #0d6efd;

  }